<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MicoPlaylist</title>
</head>
<body>
    <h1>Playlists</h1>
    <br><hr><br>
    <a href="/">Home</a>
    <br>
    <a href="/music/trending">Trending</a>
    <br>
    <a href="/music/favorites">Favorites</a>
    <br>
    <a href="/music/artist">Artist</a>
</body>
</html>